LARAVEL_EXPORTED_DATA=/home/user/projects/laravel/11/share-lite-v2-headsheddev/share-lite-v2-headsheddev/laravel-app/storage/app/exports
LARAVEL_IMAGES=/home/user/projects/laravel/11/share-lite-v2-headsheddev/share-lite-v2-headsheddev/laravel-app/storage/app/public/images
DEFAULT_AUTHOR=Jon Brookes
