---
import Layout from "../../layouts/Layout.astro"

import HeaderSmall from "../../components/HeaderSmall.astro";

const title = "uploadz 1";
const subtitle = "first";


---

<Layout title="upload 1">
  <div>
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="mb-12">
        <p class="text-2xl font-bold text-gray-700 dark:text-gray-400">Upload your files</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto libero perspiciatis ex, omnis maxime velit odit magni quis placeat! Officia possimus asperiores doloribus odio explicabo nostrum distinctio necessitatibus consequuntur excepturi.</p>
        <code class="text-2xl text-gray-700 dark:text-gray-400">
          <h1>This is an HTML heading</h1>
        </code>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto libero perspiciatis ex, omnis maxime velit odit magni quis placeat! Officia possimus asperiores doloribus odio explicabo nostrum distinctio necessitatibus consequuntur excepturi.</p>

        <code class="text-2xl text-gray-700 dark:text-gray-400">
          console.log('this is a debug output');
        </code>

        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto libero perspiciatis ex, omnis maxime velit odit magni quis placeat! Officia possimus asperiores doloribus odio explicabo nostrum distinctio necessitatibus consequuntur excepturi.</p>


<pre>

  <code class="language-javascript">
    console.log("never work will it ...");
    console.log("never work will it ...");
    console.log("never work will it ...");
    console.log("never work will it ...");
  </code>
</pre>

          <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto libero perspiciatis ex, omnis maxime velit odit magni quis placeat! Officia possimus asperiores doloribus odio explicabo nostrum distinctio necessitatibus consequuntur excepturi.</p>


      </div>
  </main>
</Layout>

<style></style>