---
import Layout from "../layouts/Layout.astro";
import CTAHeadshed from "../components/CTAHeadshed.astro";
import FeatureList from "../components/FeatureList.astro";

import data from "../data/site.json";
---

<Layout title={data.siteName}>
  <main>
    <CTAHeadshed />
    <FeatureList />
  </main>
</Layout>
