---
interface Props {
  text: string
  href: string;
}

const { text, href } = Astro.props;
---

<a href={href} class="text-white bg-blue-600 focus:outline-none cursor-pointer focus:ring-4 focus:ring-secondary font-medium rounded-full text-lg px-10 py-4 text-center">{text}</a>
