---
import data from "../data/site.json";

import Button from "../components/Button.astro";
import ButtonAlt from "../components/ButtonAlt.astro";
import { Image } from "astro:assets";
import robotImg from "../images/waving.png";

const title = "Welcome to Headshed";
---

<div class="bg-gradient-to-b from-white dark:from-slate-600">
  <div class="py-1">
    <div class="text-center justify-self-center items-center p-2">
      <a href="/uploadz">
        <Image
          width="300"
          height="300"
          class="rounded mx-auto mt-6"
          src={robotImg}
          alt="wee happy robot waving"
        />
        <div class="mt-5 flex items-center justify-center gap-x-6">
          <Button text="Uploadz !" href="/uploadz" />
        </div>
      </a>
    </div>
  </div>
</div>
