---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import HeaderSmall from "../../components/HeaderSmall.astro";
import { formatDate } from '../../utills/tools';


export async function getStaticPaths() {
  const blogEntries = await getCollection("missivz");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

---

<Layout title={entry.data.title}>
  <div class="text-center">
    <HeaderSmall title={entry.data.title} subtitle={entry.data.author} />
    <p class="text-gray-700 dark:text-gray-400">{formatDate(entry.data.publishedDate.toString())}</p>
  </div>

  <div
    class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline mx-auto mt-8 mb-10"
  >
    <Content />
  </div>



</Layout>
